.header {
  max-width: 880px;
  max-height: 74px;
  width: 100%;
  margin: 0 auto 40px;
  border-bottom: solid white 1px;
  padding-bottom: 41px;
  padding-top: 45px;
}

.header__vector {
}

@media screen and (max-width: 720px) {
  .header {
    width: 320px;
    height: 56px;
  }
}