.header {
  width: 880px;
  margin-top: 45px;
  left: 200px;
  color: #ffffff;
}
@media (max-width: 720px) {
  .header {
    width: 100%;
    margin-top: 28px;
  }
  .header__logo {
    width: 126px;
    margin-left: 27px;
  }
  .header__line {
    width: 100%;
  }
}
